#body{
    width: auto;
    height: auto;
}
table {
    border-collapse: collapse;
    width: auto;
}
td {
    width:4rem;
    height: 4rem;
}
td button {
    width: 4rem;
    height: 4rem;
    opacity: 10%;
    background-color: blanchedalmond;
}