#body {
  width: auto;
  height: auto;
}
table {
  border-collapse: collapse;
  width: auto;
}
td {
  width: 4rem;
  height: 4rem;
}
td button {
  visibility: hidden;
  border: dashed 2px rgb(255, 175, 192);
  width: 4rem;
  height: 4rem;
  opacity: 20%;
  background-color: blanchedalmond;
}
